In [3]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

# You can add here website link which are showing you stocks historical data in tabular format. 

url = "https://www.indiainfoline.com/company/yes-bank-ltd-share-price/share-price-historical-data/25267"
# url = 'https://in.investing.com/equities/yes-bank-historical-data?end_date=1686422196&interval_sec=monthly&st_date=1457634600'

html_data = requests.get(url).text

soup = BeautifulSoup(html_data, 'html5lib')

In [124]:
# Now we will be extracting table headers for the dataframe columns

''' If there are multiple tables on the website, you can find all 
    table and iterate through them to find the one you want to 
    extract using a unique keyword around the table.

    *Note: You have to inspect the or check the list of tables 
    one by one and pass the table_index for further extraction ,
    if you're unable to find the exact table using keyword.

    You can visit 'https://beautiful-soup-4.readthedocs.io/en/latest/'
    for more information on fuctions to parse the HTML doc 
'''

unique_keyword = 'Total Turnover'

# unique_keyword = ''

tables = soup.find_all('table')
table_index = 0
for i, table in enumerate(tables):
    if unique_keyword in table:
        table_index = i

# print(tables[table_index])

headers = []

for col in tables[table_index].find('thead').find('tr'):
    headers.append(col.text.strip())

headers = [x for x in headers if x != '']

data_df = pd.DataFrame(columns=headers)

for row in tables[table_index].find('tbody').find_all('tr'):
    
    col = row.find_all('td')

    new_row = []

    for i in range(len(headers)):
        new_row.append(col[i].text.strip())
    
    data_df = pd.concat([data_df, pd.DataFrame([new_row], columns=headers)], ignore_index=True)

In [126]:
# You can now save/use the following dataframe for Data analysis, uncomment followinf line to save the data in a csv file

# data_df.to_csv('data_name.csv')

data_df

,Date,Open(₹),High(₹),Low(₹),Close(₹),No. of Trades(₹),Total Turnover(in Lac Share),Deliverable Quantity(shares),H-L(₹),C-O(₹)
0,11-May-2023,16,16.15,15.95,16.1,31540,795033958.25,18943051,0.20,0.10
1,12-May-2023,16.1,16.15,15.8,15.95,42065,934800272,25962506,0.35,-0.15
2,15-May-2023,15.95,16,15.75,15.85,43727,711336324.6,17989303,0.25,-0.10
3,16-May-2023,15.9,16.15,15.8,15.9,43932,1531760757.9,22031437,0.35,
4,17-May-2023,15.95,16.05,15.85,15.9,36229,1364963860.4,17289999,0.20,-0.05
5,18-May-2023,15.95,16,15.65,15.7,35272,955421891.1,27896469,0.35,-0.25
6,19-May-2023,15.75,15.8,15.55,15.65,36798,844848269.5,19476235,0.25,-0.10
7,22-May-2023,15.7,15.8,15.6,15.65,40778,650761021,18536917,0.20,-0.05
8,23-May-2023,15.65,15.75,15.5,15.55,44609,772413159.7,23218427,0.25,-0.10
9,24-May-2023,15.55,15.7,15.5,15.6,35875,706206969.55,15167898,0.20,0.05
10,25-May-2023,15.55,15.75,15.5,15.5,36026,1051540036.8,20441936,0.25,-0.05
11,26-May-2023,15.55,15.65,15.5,15.6,30280,530977357.5,14984226,0.15,0.05
12,29-May-2023,15.65,16.2,15.6,15.9,54615,2030078362.2,35931299,0.60,0.25
13,30-May-2023,16,16.05,15.75,15.9,39352,1238254700.5,21078328,0.30,-0.10
14,31-May-2023,15.9,16.5,15.7,16.2,60062,3614093776.5,113223412,0.80,0.30
15,01-Jun-2023,16.25,16.65,16.25,16.3,55973,1409527297.5,31381829,0.40,0.05
16,02-Jun-2023,16.35,16.5,16.3,16.4,50640,1866046388.5,27790507,0.20,0.05
17,05-Jun-2023,16.4,16.5,16.05,16.15,37428,643686673.95,19505636,0.45,-0.25
18,06-Jun-2023,16.15,16.15,15.95,16,33788,631443159.7,19513660,0.20,-0.15
19,07-Jun-2023,16.05,16.3,16,16.15,40618,850595382.25,20655359,0.30,0.10
20,08-Jun-2023,16.2,17.2,16.15,16.75,87578,5143422530,67032913,1.05,0.55
21,09-Jun-2023,16.75,16.95,16.5,16.6,41927,1905725482.35,26241694,0.45,-0.15

In [4]:
# Another method to extract tables using pandas read_html()

pd_table = pd.read_html(url) # returns a list of df

data_df = pd_table[0]
data_df

,Date,Open(₹),High(₹),Low(₹),Close(₹),No. of Trades(₹),Total Turnover(in Lac Share),Deliverable Quantity(shares),Unnamed: 8,Unnamed: 9
0,12-May-2023,16.10,16.15,15.80,15.95,42065,9.348003e+08,25962506,0.35,-0.15
1,15-May-2023,15.95,16.00,15.75,15.85,43727,7.113363e+08,17989303,0.25,-0.10
2,16-May-2023,15.90,16.15,15.80,15.90,43932,1.531761e+09,22031437,0.35,NaN
3,17-May-2023,15.95,16.05,15.85,15.90,36229,1.364964e+09,17289999,0.20,-0.05
4,18-May-2023,15.95,16.00,15.65,15.70,35272,9.554219e+08,27896469,0.35,-0.25
5,19-May-2023,15.75,15.80,15.55,15.65,36798,8.448483e+08,19476235,0.25,-0.10
6,22-May-2023,15.70,15.80,15.60,15.65,40778,6.507610e+08,18536917,0.20,-0.05
7,23-May-2023,15.65,15.75,15.50,15.55,44609,7.724132e+08,23218427,0.25,-0.10
8,24-May-2023,15.55,15.70,15.50,15.60,35875,7.062070e+08,15167898,0.20,0.05
9,25-May-2023,15.55,15.75,15.50,15.50,36026,1.051540e+09,20441936,0.25,-0.05
10,26-May-2023,15.55,15.65,15.50,15.60,30280,5.309774e+08,14984226,0.15,0.05
11,29-May-2023,15.65,16.20,15.60,15.90,54615,2.030078e+09,35931299,0.60,0.25
12,30-May-2023,16.00,16.05,15.75,15.90,39352,1.238255e+09,21078328,0.30,-0.10
13,31-May-2023,15.90,16.50,15.70,16.20,60062,3.614094e+09,113223412,0.80,0.30
14,01-Jun-2023,16.25,16.65,16.25,16.30,55973,1.409527e+09,31381829,0.40,0.05
15,02-Jun-2023,16.35,16.50,16.30,16.40,50640,1.866046e+09,27790507,0.20,0.05
16,05-Jun-2023,16.40,16.50,16.05,16.15,37428,6.436867e+08,19505636,0.45,-0.25
17,06-Jun-2023,16.15,16.15,15.95,16.00,33788,6.314432e+08,19513660,0.20,-0.15
18,07-Jun-2023,16.05,16.30,16.00,16.15,40618,8.505954e+08,20655359,0.30,0.10
19,08-Jun-2023,16.20,17.20,16.15,16.75,87578,5.143423e+09,67032913,1.05,0.55
20,09-Jun-2023,16.75,16.95,16.50,16.60,41927,1.905725e+09,26241694,0.45,-0.15